Repository strake/ghc, changes with the owners that CODEOWNERS names for each.
All owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman, @hvr, @simonmar, @osa1, @Phyx, @int-index, @simonpj, @rae, @RyanGlScott, @AndreasK, @nomeata, @sgraf

gitlab-ci: Fix submodule linter
  .gitlab-ci.yml
Owners: @bgamari

hadrian: Properly partition options in sourceArgs
  hadrian/src/Settings/Default.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

gitlab-ci: Use --unshallow when fetching for linters
  .gitlab-ci.yml
Owners: @bgamari

gitlab-ci: A few clarifying comments
  .gitlab-ci.yml
Owners: @bgamari

gitlab-ci: Create index.html in documentation deployment
  .gitlab-ci.yml
Owners: @bgamari

gitlab-ci: Don't run two submodule checking jobs on Marge jobs
  .gitlab-ci.yml
Owners: @bgamari

base: Export Finalizers
  libraries/base/GHC/ForeignPtr.hs
Owners: @hvr

Explain that 'mappend' and '(<>)' should be the same [skip ci]
  libraries/base/GHC/Base.hs
Owners: @hvr

Pass preprocessor options to C compiler when building foreign C files (#16737)
  compiler/main/DriverPipeline.hs
  testsuite/tests/driver/T16737.hs
  testsuite/tests/driver/T16737.stdout
  testsuite/tests/driver/T16737include/T16737.h
  testsuite/tests/driver/all.T
Owners: @bgamari

remove backticks from markup - it doesn't mean what I think it means
  libraries/base/Data/Traversable.hs
Owners: @hvr

gitlab-ci: Fix submodule linting of commits
  .gitlab-ci.yml
Owners: @bgamari

gitlab-ci: Linters, don't allow to fail
  .gitlab-ci.yml
Owners: @bgamari

Remove trailing whitespace
  compiler/cmm/MkGraph.hs
  compiler/codeGen/StgCmmForeign.hs
  compiler/ghci/LinkerTypes.hs
  compiler/main/HscTypes.hs
  compiler/main/Packages.hs
  compiler/specialise/Specialise.hs
  compiler/stgSyn/StgSyn.hs
Owners: @simonmar, @osa1, @bgamari

rts: Fix RetainerProfile early return with TREC_CHUNK
  rts/RetainerProfile.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

Small refactorings in ExtractDocs
  compiler/deSugar/ExtractDocs.hs
Owners: @simonpj, @rae

Print role annotations in TemplateHaskell brackets (#16718)
  compiler/hsSyn/HsDecls.hs
  testsuite/tests/roles/should_compile/T16718.hs
  testsuite/tests/roles/should_compile/T16718.stderr
  testsuite/tests/roles/should_compile/all.T
  testsuite/tests/th/T15365.stderr
Owners: @bgamari

rts: Separate population of eventTypes from initial event generation
  rts/eventlog/EventLog.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

Remove CPP ensuring word size is 32 or 64 bits around Addr# <-> int# primops
  compiler/prelude/primops.txt.pp
Owners: @bgamari

Add disable/enable commands to ghci debugger #2215
  docs/users_guide/8.10.1-notes.rst
  docs/users_guide/ghci.rst
  ghc/GHCi/UI.hs
  ghc/GHCi/UI/Monad.hs
  testsuite/tests/ghci.debugger/scripts/T2215.hs
  testsuite/tests/ghci.debugger/scripts/T2215.script
  testsuite/tests/ghci.debugger/scripts/T2215.stdout
  testsuite/tests/ghci.debugger/scripts/all.T
Owners: @bgamari

testsuite: Add test for #16514
  testsuite/tests/rts/T16514.hs
  testsuite/tests/rts/T16514.stdout
  testsuite/tests/rts/T16514_c.cpp
  testsuite/tests/rts/all.T
Owners: @bgamari

Fix #16517 by bumping the TcLevel for method sigs
  compiler/typecheck/TcCanonical.hs
  compiler/typecheck/TcErrors.hs
  compiler/typecheck/TcHsType.hs
  compiler/typecheck/TcMType.hs
  compiler/typecheck/TcRnDriver.hs
  compiler/typecheck/TcRnTypes.hs
  compiler/typecheck/TcSimplify.hs
  compiler/typecheck/TcTyClsDecls.hs
  compiler/typecheck/TcType.hs
  testsuite/tests/ghci/scripts/T16767.script
  testsuite/tests/ghci/scripts/T16767.stdout
  testsuite/tests/ghci/scripts/all.T
  testsuite/tests/typecheck/should_fail/T16517.hs
  testsuite/tests/typecheck/should_fail/T16517.stderr
  testsuite/tests/typecheck/should_fail/all.T
  testsuite/tests/typecheck/should_fail/tcfail134.stderr
Owners: @simonpj, @rae, @bgamari

testsuite: Add test for #16509
  testsuite/tests/patsyn/should_compile/T16509.hs
  testsuite/tests/patsyn/should_compile/T16509.script
  testsuite/tests/patsyn/should_compile/all.T
Owners: @bgamari

Introduce log1p and expm1 primops
  compiler/cmm/CmmMachOp.hs
  compiler/cmm/PprC.hs
  compiler/codeGen/StgCmmPrim.hs
  compiler/llvmGen/LlvmCodeGen/CodeGen.hs
  compiler/nativeGen/PPC/CodeGen.hs
  compiler/nativeGen/SPARC/CodeGen.hs
  compiler/nativeGen/X86/CodeGen.hs
  compiler/prelude/primops.txt.pp
  libraries/base/GHC/Float.hs
  testsuite/tests/codeGen/should_run/all.T
  testsuite/tests/codeGen/should_run/cgrun078.hs
  testsuite/tests/codeGen/should_run/cgrun078.stdout
Owners: @simonmar, @osa1, @angerman, @bgamari, @AndreasK, @hvr

Hadrian: need CPP preprocessor dependencies #16660
  hadrian/src/Settings/Builders/Ghc.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

Do not report error if Name in pragma is unbound
  compiler/rename/RnEnv.hs
  testsuite/tests/rename/should_fail/T16610.hs
  testsuite/tests/rename/should_fail/T16610.stderr
  testsuite/tests/rename/should_fail/all.T
Owners: @simonpj, @rae, @bgamari

Comments only: document tcdDataCusk better.
  compiler/hsSyn/HsDecls.hs
Owners: @bgamari

Handle trailing path separator in package DB names (#16360)
  compiler/main/Packages.hs
  testsuite/tests/driver/T16360/Hello.hs
  testsuite/tests/driver/T16360/Makefile
  testsuite/tests/driver/T16360/all.T
  testsuite/tests/driver/T16360/test/Test.hs
  testsuite/tests/driver/T16360/test/test.pkg
Owners: @bgamari

base: Mark CPUTime001 as fragile
  libraries/base/tests/all.T
Owners: @hvr

Refactor the rules for .hi and .o into a single rule using `&%>` #16764
  hadrian/src/Rules/Compile.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

testsuite: Fix and extend closure_size test
  libraries/ghc-heap/tests/all.T
  libraries/ghc-heap/tests/closure_size.hs
Owners: @bgamari

ghc-heap: Add closure_size_noopt test
  libraries/ghc-heap/tests/ClosureSizeUtils.hs
  libraries/ghc-heap/tests/all.T
  libraries/ghc-heap/tests/closure_size.hs
  libraries/ghc-heap/tests/closure_size_noopt.hs
Owners: @bgamari

Warn about unused packages
  compiler/main/DynFlags.hs
  compiler/main/GhcMake.hs
  docs/users_guide/8.8.1-notes.rst
  docs/users_guide/using-warnings.rst
  testsuite/tests/warnings/should_compile/UnusedPackages.hs
  testsuite/tests/warnings/should_compile/UnusedPackages.stderr
  testsuite/tests/warnings/should_compile/all.T
Owners: @bgamari

Comments only: document newtypes' DataConWrapId
  compiler/basicTypes/MkId.hs
Owners: @bgamari

Fix an error message in CheckUnload.c:searchHeapBlocks
  rts/CheckUnload.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

testsuite: Add haddock perf test output to gitignore
  testsuite/tests/perf/haddock/.gitignore
Owners: @bgamari

testsuite/mk/boilerplate.mk: rename 'ghc-config-mk' to 'ghc_config_mk'
  hadrian/src/Rules/Test.hs
  testsuite/mk/boilerplate.mk
Owners: @snowleopard, @alp, @DavidEichmann, @angerman, @bgamari

Bump Cabal submodule
  hadrian/src/Hadrian/Haskell/Cabal/Parse.hs
  testsuite/tests/driver/T4437.hs
  utils/ghc-cabal/Main.hs
  utils/ghctags/ghctags.cabal
Owners: @snowleopard, @alp, @DavidEichmann, @angerman, @bgamari

testsuite: Mark hWaitForInput-accurate-stdin as broken in threaded ways
  libraries/base/tests/all.T
Owners: @hvr

rts/linker: Only mprotect GOT after it is filled
  rts/linker/elf_got.c
Owners: @angerman, @Phyx, @simonmar

Make `haddock_testsuite` respect `--test-accept`
  testsuite/tests/haddock/haddock_testsuite/Makefile
  testsuite/tests/haddock/haddock_testsuite/all.T
Owners: @bgamari

CODEOWNERS:

# Confused about what this is? See
# https://gitlab.haskell.org/help/user/project/code_owners

# Catch-all
* @bgamari

# Build system
/hadrian/                         @snowleopard @alp @DavidEichmann @angerman
/configure.ac                    @angerman @hvr
/aclocal.m4                      @angerman @hvr
/config.sub                      @angerman @hvr

# RTS-like things
/rts/                             @bgamari @simonmar @osa1 @Phyx @angerman
/rts/linker/                      @angerman @Phyx @simonmar
/includes/                        @bgamari @simonmar @osa1

# The compiler
/compiler/parser/                 @int-index
/compiler/typecheck/              @simonpj @rae
/compiler/rename/                 @simonpj @rae
/compiler/types/                  @simonpj @rae
/compiler/deSugar/                @simonpj @rae
/compiler/typecheck/TcDeriv*      @RyanGlScott
/compiler/nativeGen/              @simonmar @bgamari @AndreasK
/compiler/llvmGen/                @angerman
/compiler/codeGen/                @simonmar @osa1
/compiler/cmm/                    @simonmar @osa1
/compiler/ghci/                   @simonmar
/compiler/simplCore/CallArity.hs  @nomeata
/compiler/utils/UnVarGraph.hs     @nomeata
/compiler/simplCore/Exitify.hs    @nomeata
/compiler/simplStg/StgCse.hs      @nomeata
/compiler/simplStg/StgLiftLams.hs @sgraf
/compiler/cmm/CmmSwitch.hs        @nomeata
/compiler/stranal/DmdAnal.hs      @simonpj @sgraf
/compiler/hsSyn/Convert.hs        @rae

# Core libraries
/libraries/base/                  @hvr
/libraries/ghci/                  @simonmar
/libraries/template-haskell/      @rae

# Internal utilities and libraries
/libraries/libiserv/              @angerman @simonmar
/utils/iserv-proxy/               @angerman @simonmar
/utils/iserv/                     @angerman @simonmar
/utils/gen-dll/                   @Phyx
/utils/fs/                        @Phyx
