Repository strake/ghc, changes with the owners that CODEOWNERS names for each.
All owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman, @hvr, @simonmar, @osa1, @Phyx, @int-index, @simonpj, @rae, @RyanGlScott, @AndreasK, @nomeata, @sgraf

CODEOWNERS:

# Confused about what this is? See
# https://gitlab.haskell.org/help/user/project/code_owners

# Catch-all
* @bgamari

# Build system
/hadrian/                         @snowleopard @alp @DavidEichmann @angerman
/configure.ac                    @angerman @hvr
/aclocal.m4                      @angerman @hvr
/config.sub                      @angerman @hvr

# RTS-like things
/rts/                             @bgamari @simonmar @osa1 @Phyx @angerman
/rts/linker/                      @angerman @Phyx @simonmar
/includes/                        @bgamari @simonmar @osa1

# The compiler
/compiler/parser/                 @int-index
/compiler/typecheck/              @simonpj @rae
/compiler/rename/                 @simonpj @rae
/compiler/types/                  @simonpj @rae
/compiler/deSugar/                @simonpj @rae
/compiler/typecheck/TcDeriv*      @RyanGlScott
/compiler/nativeGen/              @simonmar @bgamari @AndreasK
/compiler/llvmGen/                @angerman
/compiler/codeGen/                @simonmar @osa1
/compiler/cmm/                    @simonmar @osa1
/compiler/ghci/                   @simonmar
/compiler/simplCore/CallArity.hs  @nomeata
/compiler/utils/UnVarGraph.hs     @nomeata
/compiler/simplCore/Exitify.hs    @nomeata
/compiler/simplStg/StgCse.hs      @nomeata
/compiler/simplStg/StgLiftLams.hs @sgraf
/compiler/cmm/CmmSwitch.hs        @nomeata
/compiler/stranal/DmdAnal.hs      @simonpj @sgraf
/compiler/hsSyn/Convert.hs        @rae

# Core libraries
/libraries/base/                  @hvr
/libraries/ghci/                  @simonmar
/libraries/template-haskell/      @rae

# Internal utilities and libraries
/libraries/libiserv/              @angerman @simonmar
/utils/iserv-proxy/               @angerman @simonmar
/utils/iserv/                     @angerman @simonmar
/utils/gen-dll/                   @Phyx
/utils/fs/                        @Phyx

testsuite: Don't run T16525a with -DS unless compiler_debugged
  testsuite/tests/ghci/T16525a/all.T
Owners: @bgamari

Add MonadFail instance for ParserM
  utils/genprimopcode/ParserM.hs
Owners: @bgamari

rts: Correct handling of LARGE ARR_WORDS in LDV profiler
  includes/Rts.h
  includes/rts/storage/ClosureMacros.h
  rts/ProfHeap.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

testsuite: Mark T5611 and T5611a as fragile
  testsuite/tests/concurrent/should_run/all.T
Owners: @bgamari

testsuite: Add T5611a
  testsuite/tests/concurrent/should_run/T5611a.hs
  testsuite/tests/concurrent/should_run/T5611a.stderr
  testsuite/tests/concurrent/should_run/T5611a.stderr.mingw32
  testsuite/tests/concurrent/should_run/T5611a.stdout
  testsuite/tests/concurrent/should_run/all.T
Owners: @bgamari

rts: Correct assertion in LDV_recordDead
  rts/ProfHeap.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

Add -Wmissing-safe-haskell-mode warning
  compiler/main/HscMain.hs
  docs/users_guide/safe_haskell.rst
Owners: @bgamari

Add -Winferred-safe-imports warning
  compiler/main/DynFlags.hs
  compiler/main/HscMain.hs
  compiler/main/HscTypes.hs
  compiler/typecheck/TcRnMonad.hs
  docs/users_guide/safe_haskell.rst
  testsuite/tests/plugins/T16260.stdout
  testsuite/tests/safeHaskell/check/pkg01/safePkg01.stdout
Owners: @bgamari, @simonpj, @rae

testsuite: Unbreak T16608 tests
  testsuite/tests/driver/T16608/Makefile
  testsuite/tests/driver/T16608/all.T
Owners: @bgamari

[skip ci] add a blurb about the purpose of Printer.c
  rts/Printer.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

Bump Cabal submodule to what will become 3.0.0.0
  testsuite/tests/cabal/ghcpkg01.stdout
Owners: @bgamari

testsuite: Use safe FFI call in T5611
  testsuite/tests/concurrent/should_run/T5611.hs
Owners: @bgamari

rts: Do not traverse nursery for dead closures in LDV profile
  rts/LdvProfile.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

testsuite: Run and report on fragile tests
  testsuite/driver/junit.py
  testsuite/driver/testglobals.py
  testsuite/driver/testlib.py
Owners: @bgamari

Improve doc for :type-at. (#14780)
  docs/users_guide/ghci.rst
Owners: @bgamari

Remove unused UniqSupply functions
  compiler/basicTypes/UniqSupply.hs
Owners: @bgamari

testsuite: More type signatures
  testsuite/driver/perf_notes.py
  testsuite/driver/testglobals.py
Owners: @bgamari

testsuite: Fix T16832
  testsuite/tests/typecheck/should_compile/T16832.hs
  testsuite/tests/typecheck/should_compile/all.T
Owners: @bgamari

Bump containers submodule to v0.6.2.1
  boot
  docs/users_guide/8.10.1-notes.rst
  docs/users_guide/8.6.1-notes.rst
  docs/users_guide/8.8.1-notes.rst
  ghc.mk
  hadrian/src/Packages.hs
  testsuite/tests/backpack/should_run/bkprun05.bkp
  testsuite/tests/backpack/should_run/bkprun05.stderr
  testsuite/tests/driver/T10970.stdout
  utils/ghc-cabal/Main.hs
Owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman

Fix stage 1 warnings
  compiler/main/DynFlags.hs
  ghc/Main.hs
Owners: @bgamari

rts: Assert that LDV profiling isn't used with parallel GC
  rts/sm/Evac.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

typo in the docs for DynFlags.hs
  compiler/main/DynFlags.hs
Owners: @bgamari

testsuite: Add more type annotations to perf_notes
  testsuite/driver/my_typing.py
  testsuite/driver/perf_notes.py
Owners: @bgamari

Apply suggestion to rts/linker/Elf.c
  rts/linker/Elf.c
Owners: @angerman, @Phyx, @simonmar

Add test for #16575
  testsuite/tests/ghci/scripts/T16575.hs
  testsuite/tests/ghci/scripts/T16575.script
  testsuite/tests/ghci/scripts/T16575.stdout
  testsuite/tests/ghci/scripts/all.T
Owners: @bgamari

Fix Happy deps for Stack (#16825)
  hadrian/stack.yaml
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

Fix #16805 by formatting warning message
  compiler/main/GhcMake.hs
  testsuite/tests/warnings/should_compile/UnusedPackages.stderr
  testsuite/tests/warnings/should_compile/all.T
Owners: @bgamari

No atomics on arm32; this will just yield stubs.
  libraries/ghc-prim/cbits/atomic.c
Owners: @bgamari

configure: prefer cc over gcc
  configure.ac
Owners: @angerman, @hvr

Hadrian: disable cloud build cache for symlinks #16800
  hadrian/src/Hadrian/Utilities.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

getExecutablePath: get path from sysctl on FreeBSD
  libraries/base/System/Environment/ExecutablePath.hsc
Owners: @hvr

Correct closure observation, construction, and mutation on weak memory machines.
  compiler/cmm/CmmMachOp.hs
  compiler/cmm/CmmParse.y
  compiler/cmm/PprC.hs
  compiler/codeGen/StgCmmBind.hs
  compiler/llvmGen/LlvmCodeGen/CodeGen.hs
  compiler/nativeGen/PPC/CodeGen.hs
  compiler/nativeGen/SPARC/CodeGen.hs
  compiler/nativeGen/X86/CodeGen.hs
  includes/Cmm.h
  includes/stg/SMP.h
  rts/Apply.cmm
  rts/Compact.cmm
  rts/Interpreter.c
  rts/Messages.c
  rts/PrimOps.cmm
  rts/RaiseAsync.c
  rts/Sparks.c
  rts/StgMiscClosures.cmm
  rts/ThreadPaused.c
  rts/Threads.c
  rts/TopHandler.c
  rts/Updates.h
  rts/Weak.c
  rts/sm/CNF.c
  rts/sm/Evac.c
  rts/sm/GC.c
  rts/sm/GCAux.c
  rts/sm/MarkWeak.c
  rts/sm/Sanity.c
  rts/sm/Scav.c
  rts/sm/Storage.c
Owners: @simonmar, @osa1, @angerman, @bgamari, @AndreasK, @Phyx

Lookup _GLOBAL_OFFSET_TABLE by symbol->addr when doing relocations
  rts/linker/Elf.c
Owners: @angerman, @Phyx, @simonmar

Add _GLOBAL_OFFSET_TABLE_ support
  rts/linker/Elf.c
  rts/linker/elf_got.c
Owners: @angerman, @Phyx, @simonmar

Apply suggestion to rts/linker/elf_got.c
  rts/linker/elf_got.c
Owners: @angerman, @Phyx, @simonmar

Fix GCC warnings with __clear_cache builtin (#16867)
  rts/sm/Storage.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

Fix #15843 by extending Template Haskell AST for tuples to support sections
  compiler/deSugar/DsMeta.hs
  compiler/hsSyn/Convert.hs
  libraries/template-haskell/Language/Haskell/TH/Lib.hs
  libraries/template-haskell/Language/Haskell/TH/Lib/Internal.hs
  libraries/template-haskell/Language/Haskell/TH/Ppr.hs
  libraries/template-haskell/Language/Haskell/TH/Syntax.hs
  libraries/template-haskell/changelog.md
  testsuite/tests/th/T15843.hs
  testsuite/tests/th/T15843.stdout
  testsuite/tests/th/T15843a.hs
  testsuite/tests/th/T3899a.hs
  testsuite/tests/th/TH_repUnboxedTuples.stderr
  testsuite/tests/th/all.T
Owners: @simonpj, @rae, @bgamari

Bump template-haskell version to 2.16.0.0
  compiler/ghc.cabal.in
  libraries/ghci/ghci.cabal.in
  libraries/template-haskell/template-haskell.cabal.in
  testsuite/tests/th/TH_Roles2.stderr
Owners: @bgamari, @simonmar, @rae

Dont gather ticks when only striping them in STG.
  compiler/codeGen/StgCmmBind.hs
  compiler/stgSyn/CoreToStg.hs
  compiler/stgSyn/StgSyn.hs
Owners: @simonmar, @osa1, @bgamari

Produce all DerivInfo in tcTyAndClassDecls
  compiler/typecheck/TcDeriv.hs
  compiler/typecheck/TcInstDcls.hs
  compiler/typecheck/TcRnDriver.hs
  compiler/typecheck/TcTyClsDecls.hs
  testsuite/tests/deriving/should_compile/T14578.stderr
  testsuite/tests/deriving/should_compile/T14579.stderr
  testsuite/tests/generics/GenDerivOutput.stderr
  testsuite/tests/generics/GenDerivOutput1_1.stderr
  testsuite/tests/generics/T10604/T10604_deriving.stderr
Owners: @RyanGlScott, @simonpj, @rae, @bgamari
