Repository strake/ghc, changes with the owners that CODEOWNERS names for each.
All owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman, @hvr, @simonmar, @osa1, @Phyx, @int-index, @simonpj, @rae, @RyanGlScott, @AndreasK, @nomeata, @sgraf

CODEOWNERS:

# Confused about what this is? See
# https://gitlab.haskell.org/help/user/project/code_owners

# Catch-all
* @bgamari

# Build system
/hadrian/                         @snowleopard @alp @DavidEichmann @angerman
/configure.ac                    @angerman @hvr
/aclocal.m4                      @angerman @hvr
/config.sub                      @angerman @hvr

# RTS-like things
/rts/                             @bgamari @simonmar @osa1 @Phyx @angerman
/rts/linker/                      @angerman @Phyx @simonmar
/includes/                        @bgamari @simonmar @osa1

# The compiler
/compiler/parser/                 @int-index
/compiler/typecheck/              @simonpj @rae
/compiler/rename/                 @simonpj @rae
/compiler/types/                  @simonpj @rae
/compiler/deSugar/                @simonpj @rae
/compiler/typecheck/TcDeriv*      @RyanGlScott
/compiler/nativeGen/              @simonmar @bgamari @AndreasK
/compiler/llvmGen/                @angerman
/compiler/codeGen/                @simonmar @osa1
/compiler/cmm/                    @simonmar @osa1
/compiler/ghci/                   @simonmar
/compiler/simplCore/CallArity.hs  @nomeata
/compiler/utils/UnVarGraph.hs     @nomeata
/compiler/simplCore/Exitify.hs    @nomeata
/compiler/simplStg/StgCse.hs      @nomeata
/compiler/simplStg/StgLiftLams.hs @sgraf
/compiler/cmm/CmmSwitch.hs        @nomeata
/compiler/stranal/DmdAnal.hs      @simonpj @sgraf
/compiler/hsSyn/Convert.hs        @rae

# Core libraries
/libraries/base/                  @hvr
/libraries/ghci/                  @simonmar
/libraries/template-haskell/      @rae

# Internal utilities and libraries
/libraries/libiserv/              @angerman @simonmar
/utils/iserv-proxy/               @angerman @simonmar
/utils/iserv/                     @angerman @simonmar
/utils/gen-dll/                   @Phyx
/utils/fs/                        @Phyx

SafeHaskell: Don't throw -Wsafe warning if module is declared Safe
  compiler/main/HscMain.hs
Owners: @bgamari

testsuite: Add testcase for #16689
  testsuite/tests/safeHaskell/safeInfered/T16689.hs
  testsuite/tests/safeHaskell/safeInfered/all.T
Owners: @bgamari

testsuite: Add stderr output for UnsafeInfered02 on Windows
  testsuite/tests/safeHaskell/safeInfered/UnsafeInfered02.stderr-mingw32
Owners: @bgamari

testsuite: Mark T7170 as broken on Windows
  testsuite/tests/ffi/should_run/all.T
Owners: @bgamari

ghc-pkg needs settings file to un-hardcode target platform
  compiler/hieFile/HieBin.hs
  compiler/main/SysTools.hs
  compiler/main/SysTools/BaseDir.hs
  compiler/utils/Util.hs
  libraries/ghc-boot/GHC/BaseDir.hs
  libraries/ghc-boot/GHC/Settings.hs
  libraries/ghc-boot/ghc-boot.cabal.in
  testsuite/tests/driver/T3007/Makefile
  utils/ghc-pkg/Main.hs
  utils/ghc-pkg/ghc.mk
Owners: @bgamari

Fix typechecking of partial type signatures
  compiler/rename/RnTypes.hs
  compiler/typecheck/TcBinds.hs
  compiler/typecheck/TcCanonical.hs
  compiler/typecheck/TcExpr.hs
  compiler/typecheck/TcHsType.hs
  compiler/typecheck/TcRnDriver.hs
  compiler/typecheck/TcRnMonad.hs
  compiler/typecheck/TcRnTypes.hs
  compiler/typecheck/TcSigs.hs
  compiler/typecheck/TcType.hs
  testsuite/tests/partial-sigs/should_compile/T16728.hs
  testsuite/tests/partial-sigs/should_compile/T16728.stderr
  testsuite/tests/partial-sigs/should_compile/T16728a.hs
  testsuite/tests/partial-sigs/should_compile/T16728a.stderr
  testsuite/tests/partial-sigs/should_compile/T16728b.hs
  testsuite/tests/partial-sigs/should_compile/T16728b.stderr
  testsuite/tests/partial-sigs/should_compile/all.T
  testsuite/tests/partial-sigs/should_fail/T14040a.stderr
Owners: @simonpj, @rae, @bgamari

users-guide: Update -Wsafe description for #16689
  docs/users_guide/safe_haskell.rst
Owners: @bgamari

testsuite: Skip dynamicToo006 when dynamic linking is not available
  testsuite/tests/driver/dynamicToo/dynamicToo006/all.T
Owners: @bgamari

testsuite: Mark T3372 as fragile on Windows
  libraries/ghc-boot/GHC/PackageDb.hs
  testsuite/tests/ghci/linking/dyn/all.T
Owners: @bgamari

Add 'stringEncodeArch' and 'stringEncodeOS' to GHC.Platform
  libraries/ghc-boot/GHC/Platform.hs
Owners: @bgamari

testsuite: Mark OldModLocation as broken on Windows
  testsuite/tests/ghc-api/downsweep/all.T
Owners: @bgamari

Fix #1620: ModBreaks.modBreaks_array not initialised
  ghc/GHCi/UI.hs
  testsuite/tests/ghci.debugger/scripts/T1620.script
  testsuite/tests/ghci.debugger/scripts/T1620.stdout
  testsuite/tests/ghci.debugger/scripts/T1620/T1620.hs
  testsuite/tests/ghci.debugger/scripts/all.T
Owners: @bgamari

Comments and tiny refactor
  compiler/typecheck/TcMType.hs
  compiler/typecheck/TcRnTypes.hs
  compiler/types/Type.hs
Owners: @simonpj, @rae

users-guide: Fix a variety of broken links and syntax
  docs/users_guide/bugs.rst
  docs/users_guide/codegens.rst
  docs/users_guide/extending_ghc.rst
  docs/users_guide/glasgow_exts.rst
  docs/users_guide/safe_haskell.rst
Owners: @bgamari

testsuite: Mark T7702 as broken on Windows
  testsuite/tests/simplCore/should_compile/all.T
Owners: @bgamari

Add HoleFitPlugins and RawHoleFits
  compiler/ghc.cabal.in
  compiler/main/Plugins.hs
  compiler/typecheck/TcHoleErrors.hs
  compiler/typecheck/TcHoleFitTypes.hs
  compiler/typecheck/TcHoleFitTypes.hs-boot
  compiler/typecheck/TcRnDriver.hs
  compiler/typecheck/TcRnMonad.hs
  compiler/typecheck/TcRnTypes.hs
  docs/users_guide/extending_ghc.rst
  testsuite/tests/plugins/Makefile
  testsuite/tests/plugins/all.T
  testsuite/tests/plugins/hole-fit-plugin/HoleFitPlugin.cabal
  testsuite/tests/plugins/hole-fit-plugin/HoleFitPlugin.hs
  testsuite/tests/plugins/hole-fit-plugin/Makefile
  testsuite/tests/plugins/hole-fit-plugin/Setup.hs
  testsuite/tests/plugins/test-hole-plugin.hs
  testsuite/tests/plugins/test-hole-plugin.stderr
Owners: @bgamari, @simonpj, @rae

Fix two places that failed the substitution invariant
  compiler/typecheck/Inst.hs
  compiler/typecheck/TcCanonical.hs
Owners: @simonpj, @rae

testsuite: Add test for #16563
  testsuite/tests/ghci/scripts/T16563.script
  testsuite/tests/ghci/scripts/T16563.stdout
  testsuite/tests/ghci/scripts/all.T
Owners: @bgamari

rts: Reset STATIC_LINK field of reverted CAFs
  rts/sm/GCAux.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

testsuite: Mark T16608_* as fragile on Darwin
  testsuite/tests/driver/T16608/all.T
Owners: @bgamari

testsuite: Mark T5611 as broken in ghci way
  testsuite/tests/concurrent/should_run/all.T
Owners: @bgamari

ghci: Load static objects in batches
  compiler/ghci/Linker.hs
Owners: @simonmar

linker: Disable code unloading
  compiler/ghci/Linker.hs
Owners: @simonmar

testsuite: Add caf_crash testcase
  testsuite/tests/ghci/caf_crash/A.hs
  testsuite/tests/ghci/caf_crash/B.hs
  testsuite/tests/ghci/caf_crash/D.hs
  testsuite/tests/ghci/caf_crash/all.T
  testsuite/tests/ghci/caf_crash/caf_crash.script
  testsuite/tests/ghci/caf_crash/caf_crash.stdout
Owners: @bgamari

testsuite: Mark T15633a and T15633b as fragile on Windows
  testsuite/tests/ghci/should_run/all.T
Owners: @bgamari

testsuite: Test for #13786
  testsuite/tests/ghci/T13786/Makefile
  testsuite/tests/ghci/T13786/T13786.hs
  testsuite/tests/ghci/T13786/T13786.script
  testsuite/tests/ghci/T13786/T13786.stdout
  testsuite/tests/ghci/T13786/T13786a.c
  testsuite/tests/ghci/T13786/T13786b.c
  testsuite/tests/ghci/T13786/all.T
Owners: @bgamari

ghci: Don't rely on resolution of System.IO to base module
  compiler/prelude/PrelNames.hs
  ghc/GHCi/UI/Monad.hs
  libraries/base/GHC/GHCi/Helpers.hs
  libraries/base/base.cabal
  testsuite/tests/ghci.debugger/scripts/break006.stdout
  testsuite/tests/ghci.debugger/scripts/break013.stdout
  testsuite/tests/ghci.debugger/scripts/hist001.stdout
  testsuite/tests/ghci.debugger/scripts/hist002.stdout
  testsuite/tests/ghci/scripts/T4175.stdout
  testsuite/tests/ghci/scripts/T7627.stdout
  testsuite/tests/ghci/scripts/T8469.stdout
  testsuite/tests/ghci/scripts/ghci011.stdout
  testsuite/tests/ghci/scripts/ghci064.stdout
Owners: @bgamari, @hvr

testsuite: A major revamp of the driver
  testsuite/driver/my_typing.py
  testsuite/driver/perf_notes.py
  testsuite/driver/runtests.py
  testsuite/driver/testglobals.py
  testsuite/driver/testlib.py
  testsuite/driver/testutil.py
  testsuite/tests/driver/T12674/Makefile
  testsuite/tests/driver/T12674/all.T
  typing_stubs.py
Owners: @bgamari

gitlab-ci: Add testsuite typechecking lint
  .gitlab-ci.yml
Owners: @bgamari

Simplify link_caf and mkForeignLabel functions
  compiler/cmm/CLabel.hs
  compiler/codeGen/StgCmmBind.hs
Owners: @simonmar, @osa1

Fixes for LLVM 7
  compiler/llvmGen/LlvmCodeGen.hs
  compiler/llvmGen/LlvmCodeGen/Base.hs
  compiler/main/DriverPipeline.hs
  compiler/main/SysTools/Tasks.hs
  configure.ac
Owners: @angerman, @bgamari, @hvr

[skip ci] Typo fix: b*ar*nches -> b*ra*nches
  compiler/coreSyn/CoreArity.hs
Owners: @bgamari

testsuite: Mark ghci058 as broken on Windows
  testsuite/tests/ghci/scripts/all.T
Owners: @bgamari

Refactor UnliftedNewtypes-relation kind signature validity checks
  compiler/typecheck/TcHsType.hs
  compiler/typecheck/TcInstDcls.hs
  compiler/typecheck/TcTyClsDecls.hs
  docs/users_guide/glasgow_exts.rst
  testsuite/tests/typecheck/should_compile/T16827.hs
  testsuite/tests/typecheck/should_compile/all.T
  testsuite/tests/typecheck/should_fail/T14048a.stderr
  testsuite/tests/typecheck/should_fail/T14048b.stderr
  testsuite/tests/typecheck/should_fail/T14048c.stderr
  testsuite/tests/typecheck/should_fail/T16821.hs
  testsuite/tests/typecheck/should_fail/T16821.stderr
  testsuite/tests/typecheck/should_fail/T16829a.hs
  testsuite/tests/typecheck/should_fail/T16829a.stderr
  testsuite/tests/typecheck/should_fail/T16829b.hs
  testsuite/tests/typecheck/should_fail/T16829b.stderr
  testsuite/tests/typecheck/should_fail/UnliftedNewtypesConstraintFamily.stderr
  testsuite/tests/typecheck/should_fail/all.T
Owners: @simonpj, @rae, @bgamari

Don't eta-expand unsaturated primops
  compiler/basicTypes/Id.hs
  compiler/basicTypes/Unique.hs
  compiler/coreSyn/CorePrep.hs
  compiler/main/TidyPgm.hs
  compiler/prelude/PrelInfo.hs
  compiler/prelude/PrelNames.hs
  compiler/prelude/PrimOp.hs
  compiler/stgSyn/CoreToStg.hs
  testsuite/tests/codeGen/should_fail/T13233.hs
  testsuite/tests/codeGen/should_fail/T13233.stderr
Owners: @bgamari

testsuite: Add test for #16846
  testsuite/tests/codeGen/should_run/T16846.hs
  testsuite/tests/codeGen/should_run/T16846.stderr
  testsuite/tests/codeGen/should_run/all.T
Owners: @bgamari

testsuite: Fix a few issues in JUnit output
  testsuite/driver/junit.py
Owners: @bgamari

Fix cyclic dependencies when using --configure
  hadrian/src/Builder.hs
  hadrian/src/Hadrian/Builder/Tar.hs
  hadrian/src/Hadrian/Utilities.hs
  hadrian/src/Oracles/Setting.hs
  hadrian/src/Packages.hs
  hadrian/src/Rules/BinaryDist.hs
  hadrian/src/Rules/Configure.hs
  hadrian/src/Rules/Gmp.hs
  hadrian/src/Rules/Libffi.hs
  hadrian/src/Rules/Register.hs
  hadrian/src/Rules/Rts.hs
  hadrian/src/Rules/Selftest.hs
  hadrian/src/Rules/Test.hs
  hadrian/src/Settings/Builders/Cabal.hs
  hadrian/src/Settings/Builders/Common.hs
  hadrian/src/Settings/Builders/Ghc.hs
  hadrian/src/Settings/Builders/Hsc2Hs.hs
  hadrian/src/Settings/Builders/RunTest.hs
  hadrian/src/Settings/Default.hs
  hadrian/src/Settings/Packages.hs
  hadrian/src/Settings/Warnings.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

CoreToStg: Enable CAFfyness checking with -dstg-lint
  compiler/stgSyn/CoreToStg.hs
Owners: @bgamari

testsuite: Fix expected output for caf_crash
  testsuite/tests/ghci/caf_crash/caf_crash.stdout
Owners: @bgamari
