Repository strake/ghc, changes with the owners that CODEOWNERS names for each.
All owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman, @hvr, @simonmar, @osa1, @Phyx, @int-index, @simonpj, @rae, @RyanGlScott, @AndreasK, @nomeata, @sgraf

gitlab-ci: Fix doc-tarball job
  .gitlab-ci.yml
  mk/flavours/validate.mk
Owners: @bgamari

More sensible SrcSpans for recursive pattern synonym errors (#16900)
  compiler/typecheck/TcBinds.hs
  testsuite/tests/patsyn/should_fail/T16900.hs
  testsuite/tests/patsyn/should_fail/T16900.stderr
  testsuite/tests/patsyn/should_fail/all.T
Owners: @simonpj, @rae, @bgamari

Fix #16895 by checking whether infix expression operator is a variable
  compiler/hsSyn/Convert.hs
  libraries/template-haskell/Language/Haskell/TH/Ppr.hs
  libraries/template-haskell/Language/Haskell/TH/Syntax.hs
  testsuite/tests/th/T16895a.hs
  testsuite/tests/th/T16895a.stderr
  testsuite/tests/th/T16895b.hs
  testsuite/tests/th/T16895b.stderr
  testsuite/tests/th/T16895c.hs
  testsuite/tests/th/T16895c.stderr
  testsuite/tests/th/T16895d.hs
  testsuite/tests/th/T16895d.stderr
  testsuite/tests/th/T16895e.hs
  testsuite/tests/th/T16895e.stderr
  testsuite/tests/th/all.T
Owners: @rae, @bgamari

Make printer untag when chasing a pointer in a RET_FUN frame
  rts/Printer.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

Bump Shake and copy instead of hard link from cloud cache
  hadrian/hadrian.cabal
  hadrian/src/Main.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

Add test for old issue w/ bad source locations for warnings in .lhs files (#515)
  testsuite/tests/parser/should_compile/T515.lhs
  testsuite/tests/parser/should_compile/T515.stderr
  testsuite/tests/parser/should_compile/all.T
Owners: @bgamari

Add a missing zonk (fixes #16902)
  compiler/typecheck/TcUnify.hs
  testsuite/tests/polykinds/T16902.hs
  testsuite/tests/polykinds/T16902.stderr
  testsuite/tests/polykinds/all.T
Owners: @simonpj, @rae, @bgamari

gitlab: Reduce size of template headings
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/feature_request.md
Owners: @bgamari

Make all submodules have absolute URLs
  .gitmodules
Owners: @bgamari

rts: Fix -hT option with profiling rts
  rts/ProfHeap.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

Fix over-eager implication constraint discard
  compiler/typecheck/TcHsType.hs
  compiler/typecheck/TcRnTypes.hs
  compiler/typecheck/TcUnify.hs
  testsuite/tests/polykinds/T16247.hs
  testsuite/tests/polykinds/T16247.stderr
  testsuite/tests/polykinds/T16247a.hs
  testsuite/tests/polykinds/T16247a.stderr
  testsuite/tests/polykinds/all.T
Owners: @simonpj, @rae, @bgamari

Don't typecheck too much (or too little) in DerivingVia (#16923)
  compiler/typecheck/TcDeriv.hs
  compiler/typecheck/TcHsType.hs
  testsuite/tests/deriving/should_fail/T16923.hs
  testsuite/tests/deriving/should_fail/T16923.stderr
  testsuite/tests/deriving/should_fail/all.T
Owners: @RyanGlScott, @simonpj, @rae, @bgamari

hadrian/doc: Add some discussion of compilation stages
  hadrian/README.md
  hadrian/doc/staged-compilation.svg
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

head.hackage: Run builds with -dcore-lint
  .gitlab/start-head.hackage.sh
Owners: @bgamari

Special case a few common patterns in unionLists.
  compiler/utils/ListSetOps.hs
Owners: @bgamari

Fix erroneous float in CoreOpt
  compiler/coreSyn/CoreLint.hs
  compiler/coreSyn/CoreOpt.hs
  compiler/coreSyn/CoreSyn.hs
  testsuite/tests/simplCore/should_compile/T16918.hs
  testsuite/tests/simplCore/should_compile/T16918a.hs
  testsuite/tests/simplCore/should_compile/all.T
Owners: @bgamari

Allow reusing temporary object files generated by GHCi by writing to -odir in case -fwrite-interface was specified (#16670)
  compiler/main/GhcMake.hs
  testsuite/tests/ghci/T16670/Makefile
  testsuite/tests/ghci/T16670/T16670_th.hs
  testsuite/tests/ghci/T16670/T16670_th.stdout
  testsuite/tests/ghci/T16670/T16670_unboxed.hs
  testsuite/tests/ghci/T16670/T16670_unboxed.stdout
  testsuite/tests/ghci/T16670/TH.hs
  testsuite/tests/ghci/T16670/all.T
Owners: @bgamari

testsuite: Fix #16818
  testsuite/driver/testlib.py
Owners: @bgamari

Hadrian: fix source-dist rule
  hadrian/src/Rules/SourceDist.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

Remove most uses of TARGET platform macros
  compiler/HsVersions.h
  compiler/main/DriverPipeline.hs
  compiler/main/DynFlags.hs
  hadrian/src/Rules/Generate.hs
  includes/rts/storage/InfoTables.h
  includes/stg/HaskellMachRegs.h
  rts/PrimOps.cmm
  utils/genapply/Main.hs
  utils/ghc-pkg/ghc.mk
Owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman, @simonmar, @osa1, @Phyx

Fix #16511: changes in interface dependencies should trigger recompilation
  compiler/iface/MkIface.hs
  compiler/main/GhcMake.hs
  compiler/main/HscTypes.hs
  testsuite/tests/driver/T16511/A.hs
  testsuite/tests/driver/T16511/B1.hs
  testsuite/tests/driver/T16511/B2.hs
  testsuite/tests/driver/T16511/C.hs
  testsuite/tests/driver/T16511/D.hs
  testsuite/tests/driver/T16511/T16511.script
  testsuite/tests/driver/T16511/T16511.stdout
  testsuite/tests/driver/T16511/all.T
Owners: @bgamari

Hadrian: implement key-value settings for builder options
  hadrian/completion.sh
  hadrian/doc/user-settings.md
  hadrian/hadrian.cabal
  hadrian/src/CommandLine.hs
  hadrian/src/Hadrian/BuildPath.hs
  hadrian/src/Main.hs
  hadrian/src/Rules.hs
  hadrian/src/Rules/Register.hs
  hadrian/src/Rules/SimpleTargets.hs
  hadrian/src/Settings.hs
  hadrian/src/Settings/Parser.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

Minor refactoring in CoreSimpl
  compiler/coreSyn/CoreLint.hs
Owners: @bgamari

Add regression test for old panic on inlining undeclared identifier (#495)
  testsuite/tests/rename/should_fail/T495.hs
  testsuite/tests/rename/should_fail/T495.stderr
  testsuite/tests/rename/should_fail/all.T
Owners: @bgamari

T16804: adjust src spans
  testsuite/tests/ghci/scripts/T16804.script
  testsuite/tests/ghci/scripts/T16804.stderr
  testsuite/tests/ghci/scripts/T16804.stdout
Owners: @bgamari

Testsuite tweaks and refactoring
  .gitlab/linters/check-makefiles.py
  testsuite/driver/testlib.py
  testsuite/tests/dependent/should_compile/all.T
  testsuite/tests/dependent/should_fail/all.T
  testsuite/tests/driver/all.T
  testsuite/tests/driver/recomp009/all.T
  testsuite/tests/parser/should_compile/all.T
  testsuite/tests/perf/compiler/all.T
  testsuite/tests/quotes/all.T
  testsuite/tests/roles/should_compile/all.T
Owners: @bgamari

head.hackage: Run build on head.hackage's master branch
  .gitlab/start-head.hackage.sh
Owners: @bgamari

Fix two more `#ifndef` for the linter
  compiler/ghc.mk
Owners: @bgamari

Deduplicate "unique subdir" code between GHC and Cabal
  .gitignore
  boot
  compiler/ghc.mk
  compiler/main/DynFlags.hs
  hadrian/src/Rules/Generate.hs
  libraries/ghc-boot/GHC/UniqueSubdir.hs
  libraries/ghc-boot/ghc-boot.cabal.in
  libraries/ghc-boot/ghc.mk
  utils/ghc-pkg/Main.hs
  utils/ghc-pkg/ghc-pkg.cabal
  utils/ghc-pkg/ghc.mk
Owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman

Add testcase T16804 for #16804
  testsuite/tests/ghci/scripts/T16804.script
  testsuite/tests/ghci/scripts/T16804.stderr
  testsuite/tests/ghci/scripts/T16804.stdout
  testsuite/tests/ghci/scripts/T16804a.hs
  testsuite/tests/ghci/scripts/T16804b.hs
  testsuite/tests/ghci/scripts/all.T
Owners: @bgamari

Make CPP linter skip certain files
  .gitlab/linters/check-cpp.py
Owners: @bgamari

Remove purely external primops
  compiler/prelude/primops.txt.pp
  libraries/base/GHC/Base.hs
  libraries/base/GHC/Conc/Windows.hs
  libraries/base/GHC/Exts.hs
  libraries/ghc-prim/GHC/Prim/Ext.hs
  libraries/ghc-prim/ghc-prim.cabal
Owners: @bgamari, @hvr

gitlab-ci: Disable submodule linter for now
  .gitlab-ci.yml
Owners: @bgamari

primops: haddock: Fix typo in referenced function.
  compiler/prelude/primops.txt.pp
Owners: @bgamari

Decouple AddAnn from P
  compiler/parser/Lexer.x
  compiler/parser/Parser.y
  compiler/parser/RdrHsSyn.hs
Owners: @int-index

Minor refactoring in CmmBuildInfoTables
  compiler/cmm/CmmBuildInfoTables.hs
Owners: @simonmar, @osa1

compiler: trace SysTools commands to emit start/stop eventlog markers
  compiler/main/SysTools/Tasks.hs
Owners: @bgamari

rename type parameter in `instance Applicative ((->) a)`, fixing #16928
  libraries/base/GHC/Base.hs
  testsuite/tests/ghci/scripts/T8535.stdout
  testsuite/tests/ghci/scripts/ghci020.stdout
  testsuite/tests/ghci/should_run/T10145.stdout
Owners: @hvr, @bgamari

Fix kind-checking for data/newtypes
  compiler/typecheck/TcInstDcls.hs
  compiler/typecheck/TcTyClsDecls.hs
  testsuite/tests/indexed-types/should_compile/T16828.hs
  testsuite/tests/indexed-types/should_compile/all.T
Owners: @simonpj, @rae, @bgamari

Add shake 0.18.3 to extra deps
  hadrian/stack.yaml
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

CODEOWNERS:

# Confused about what this is? See
# https://gitlab.haskell.org/help/user/project/code_owners

# Catch-all
* @bgamari

# Build system
/hadrian/                         @snowleopard @alp @DavidEichmann @angerman
/configure.ac                    @angerman @hvr
/aclocal.m4                      @angerman @hvr
/config.sub                      @angerman @hvr

# RTS-like things
/rts/                             @bgamari @simonmar @osa1 @Phyx @angerman
/rts/linker/                      @angerman @Phyx @simonmar
/includes/                        @bgamari @simonmar @osa1

# The compiler
/compiler/parser/                 @int-index
/compiler/typecheck/              @simonpj @rae
/compiler/rename/                 @simonpj @rae
/compiler/types/                  @simonpj @rae
/compiler/deSugar/                @simonpj @rae
/compiler/typecheck/TcDeriv*      @RyanGlScott
/compiler/nativeGen/              @simonmar @bgamari @AndreasK
/compiler/llvmGen/                @angerman
/compiler/codeGen/                @simonmar @osa1
/compiler/cmm/                    @simonmar @osa1
/compiler/ghci/                   @simonmar
/compiler/simplCore/CallArity.hs  @nomeata
/compiler/utils/UnVarGraph.hs     @nomeata
/compiler/simplCore/Exitify.hs    @nomeata
/compiler/simplStg/StgCse.hs      @nomeata
/compiler/simplStg/StgLiftLams.hs @sgraf
/compiler/cmm/CmmSwitch.hs        @nomeata
/compiler/stranal/DmdAnal.hs      @simonpj @sgraf
/compiler/hsSyn/Convert.hs        @rae

# Core libraries
/libraries/base/                  @hvr
/libraries/ghci/                  @simonmar
/libraries/template-haskell/      @rae

# Internal utilities and libraries
/libraries/libiserv/              @angerman @simonmar
/utils/iserv-proxy/               @angerman @simonmar
/utils/iserv/                     @angerman @simonmar
/utils/gen-dll/                   @Phyx
/utils/fs/                        @Phyx
