Repository strake/ghc, changes with the owners that CODEOWNERS names for each.
All owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman, @hvr, @simonmar, @osa1, @Phyx, @int-index, @simonpj, @rae, @RyanGlScott, @AndreasK, @nomeata, @sgraf

PV is not P (#16611)
  compiler/parser/Lexer.x
  compiler/parser/RdrHsSyn.hs
Owners: @int-index

hadrian: Build debug rts with -O0 -g3 and disable rts stripping
  hadrian/src/Settings/Builders/Cabal.hs
  hadrian/src/Settings/Packages.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

Remove LLVM_TARGET platform macros
  compiler/ghc.mk
  compiler/llvmGen/LlvmCodeGen.hs
  compiler/main/DriverPipeline.hs
  compiler/main/SysTools.hs
  hadrian/src/Rules/Generate.hs
  includes/ghc.mk
  libraries/ghc-boot/GHC/Platform.hs
Owners: @bgamari, @angerman, @snowleopard, @alp, @DavidEichmann, @simonmar, @osa1

Make HsInstances and DynFlags compile with -O0 for Stage0 to speed up Hadrian builds (fixes #16936)
  hadrian/src/Settings/Packages.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

Add a note in the simplifier about in-scope set as a substitution
  compiler/basicTypes/VarEnv.hs
  compiler/simplCore/SimplEnv.hs
  compiler/simplCore/Simplify.hs
Owners: @bgamari

Don't package settings in bindist
  distrib/configure.ac.in
  ghc.mk
Owners: @bgamari

Add two CmmSwitch optimizations.
  compiler/cmm/CmmContFlowOpt.hs
  compiler/cmm/CmmImplementSwitchPlans.hs
  compiler/cmm/CmmPipeline.hs
  compiler/cmm/CmmUtils.hs
Owners: @simonmar, @osa1

base: Data.Fixed: make HasResolution poly-kinded (#10055, #15622)
  libraries/base/Data/Fixed.hs
  libraries/base/changelog.md
Owners: @hvr

testsuite: Fix req_th
  testsuite/config/ghc
  testsuite/driver/testlib.py
Owners: @bgamari

Add HasDebugCallStack to unionLists
  compiler/utils/ListSetOps.hs
Owners: @bgamari

Fix formatting of --info's "Debug on" field
  compiler/main/DynFlags.hs
  hadrian/src/Settings/Builders/RunTest.hs
Owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman

Create {Int,Word}32Rep
  compiler/cmm/CmmUtils.hs
  compiler/codeGen/StgCmmArgRep.hs
  compiler/prelude/PrelNames.hs
  compiler/prelude/TysPrim.hs
  compiler/prelude/TysWiredIn.hs
  compiler/prelude/TysWiredIn.hs-boot
  compiler/simplStg/RepType.hs
  compiler/types/TyCon.hs
  compiler/utils/Binary.hs
  libraries/base/Data/Typeable/Internal.hs
  libraries/ghc-prim/GHC/Types.hs
Owners: @simonmar, @osa1, @bgamari, @simonpj, @rae, @hvr

testsuite: Fix some ints used as bools
  testsuite/driver/testlib.py
Owners: @bgamari

Make GHC-in-GHCi work on Windows
  .ghcid
  hadrian/ghci.sh
  hadrian/src/Rules.hs
  hadrian/src/Settings/Flavours/GhcInGhci.hs
Owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman

testsuite: Mark static-plugins as broken in profiled ways
  testsuite/tests/plugins/all.T
Owners: @bgamari

rts: Rename the nondescript initProfiling2 to refreshProfilingCCSs
  rts/Linker.c
  rts/Profiling.c
  rts/Profiling.h
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

rts: Divorce init of Heap profiler from CCS profiler
  rts/ProfHeap.c
  rts/ProfHeap.h
  rts/Profiling.c
  rts/RtsStartup.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

testsuite: More type checking fixes
  testsuite/driver/my_typing.py
  testsuite/driver/runtests.py
  testsuite/driver/testglobals.py
  testsuite/driver/testlib.py
  testsuite/driver/testutil.py
  testsuite/tests/typecheck/should_compile/all.T
Owners: @bgamari

gitlab-ci: Run slow validate in -debug job
  .gitlab-ci.yml
Owners: @bgamari

testsuite: Print output from hp2ps
  testsuite/driver/testlib.py
Owners: @bgamari

testsuite: Mark test-hole-plugin as req_th
  testsuite/tests/plugins/all.T
Owners: @bgamari

Sort out Hadrian colored output flags (fix #16397)
  hadrian/README.md
  hadrian/src/CommandLine.hs
  hadrian/src/Hadrian/Utilities.hs
  hadrian/src/Main.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

testsuite: Set -dinitial-unique when reversing uniques
  testsuite/tests/deriving/should_compile/Makefile
  testsuite/tests/indexed-types/should_compile/all.T
  testsuite/tests/polykinds/all.T
Owners: @bgamari

testsuite: Mark hWaitForInput-accurate-stdin as broken in all threaded ways
  libraries/base/tests/all.T
Owners: @hvr

Make generated ghc-stage<n> scripts executable
  hadrian/src/Rules/Generate.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

Do not ignore events deletion when events to be added are provided (#16916)
  libraries/base/GHC/Event/KQueue.hsc
  testsuite/tests/lib/base/T16916.hs
  testsuite/tests/lib/base/T16916.stdout
  testsuite/tests/lib/base/all.T
Owners: @hvr, @bgamari

Add module doc for Plugins.
  compiler/main/Plugins.hs
Owners: @bgamari

users-guide: corrected -fmax-relevant-binds reverse to be -fno-max-relevant-binds
  docs/users_guide/using-optimisation.rst
Owners: @bgamari

Make sure to load interfaces when running :instances
  compiler/main/InteractiveEval.hs
  testsuite/tests/ghci/T16793/T16793.script
  testsuite/tests/ghci/T16793/T16793.stdout
  testsuite/tests/ghci/T16793/all.T
  testsuite/tests/ghci/scripts/ghci064.stdout
Owners: @bgamari

testsuite: Mark T4808 as broken in threaded2 way
  libraries/base/tests/IO/all.T
Owners: @hvr

ghc-cabal: Use fromFlagOrDefault instead of fromFlag
  utils/ghc-cabal/Main.hs
Owners: @bgamari

Fix #16870 by improving documentation (only)
  compiler/types/CoAxiom.hs
  compiler/types/TyCoRep.hs
Owners: @simonpj, @rae

Expose the GhcPrelude module.
  compiler/ghc.cabal.in
Owners: @bgamari

Line wrap when pp long expressions (fixes #16874)
  compiler/hsSyn/HsExpr.hs
  compiler/hsSyn/HsPat.hs
  testsuite/tests/typecheck/should_fail/T16874.hs
  testsuite/tests/typecheck/should_fail/T16874.stderr
  testsuite/tests/typecheck/should_fail/all.T
Owners: @bgamari

Hide "Loading package environment" message with -v0 (fix #16879)
  compiler/main/DynFlags.hs
  compiler/main/Packages.hs
Owners: @bgamari

Drop the orphan roles check (#16941)
  compiler/rename/RnSource.hs
  compiler/typecheck/TcRnTypes.hs
Owners: @simonpj, @rae

Fix #8487: Debugger confuses variables
  compiler/ghci/ByteCodeGen.hs
  compiler/ghci/ByteCodeTypes.hs
  compiler/main/InteractiveEval.hs
  testsuite/tests/ghci.debugger/scripts/T8487.hs
  testsuite/tests/ghci.debugger/scripts/T8487.script
  testsuite/tests/ghci.debugger/scripts/T8487.stdout
  testsuite/tests/ghci.debugger/scripts/all.T
Owners: @simonmar, @bgamari

Don't maintainer-clean libraries/ghc-boot/ghc.mk (#16953)
  ghc.mk
Owners: @bgamari

Added do-notation examples for Functor, Applicative and Monad combinators.
  libraries/base/Control/Monad.hs
  libraries/base/Data/Functor.hs
  libraries/base/Data/Void.hs
  libraries/base/GHC/Base.hs
Owners: @hvr

testsuite: Unmark recomp007 as broken
  testsuite/tests/driver/recomp007/all.T
Owners: @bgamari

CODEOWNERS:

# Confused about what this is? See
# https://gitlab.haskell.org/help/user/project/code_owners

# Catch-all
* @bgamari

# Build system
/hadrian/                         @snowleopard @alp @DavidEichmann @angerman
/configure.ac                    @angerman @hvr
/aclocal.m4                      @angerman @hvr
/config.sub                      @angerman @hvr

# RTS-like things
/rts/                             @bgamari @simonmar @osa1 @Phyx @angerman
/rts/linker/                      @angerman @Phyx @simonmar
/includes/                        @bgamari @simonmar @osa1

# The compiler
/compiler/parser/                 @int-index
/compiler/typecheck/              @simonpj @rae
/compiler/rename/                 @simonpj @rae
/compiler/types/                  @simonpj @rae
/compiler/deSugar/                @simonpj @rae
/compiler/typecheck/TcDeriv*      @RyanGlScott
/compiler/nativeGen/              @simonmar @bgamari @AndreasK
/compiler/llvmGen/                @angerman
/compiler/codeGen/                @simonmar @osa1
/compiler/cmm/                    @simonmar @osa1
/compiler/ghci/                   @simonmar
/compiler/simplCore/CallArity.hs  @nomeata
/compiler/utils/UnVarGraph.hs     @nomeata
/compiler/simplCore/Exitify.hs    @nomeata
/compiler/simplStg/StgCse.hs      @nomeata
/compiler/simplStg/StgLiftLams.hs @sgraf
/compiler/cmm/CmmSwitch.hs        @nomeata
/compiler/stranal/DmdAnal.hs      @simonpj @sgraf
/compiler/hsSyn/Convert.hs        @rae

# Core libraries
/libraries/base/                  @hvr
/libraries/ghci/                  @simonmar
/libraries/template-haskell/      @rae

# Internal utilities and libraries
/libraries/libiserv/              @angerman @simonmar
/utils/iserv-proxy/               @angerman @simonmar
/utils/iserv/                     @angerman @simonmar
/utils/gen-dll/                   @Phyx
/utils/fs/                        @Phyx
