Repository strake/ghc, changes with the owners that CODEOWNERS names for each.
All owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman, @hvr, @simonmar, @osa1, @Phyx, @int-index, @simonpj, @rae, @RyanGlScott, @AndreasK, @nomeata, @sgraf

CODEOWNERS:

# Confused about what this is? See
# https://gitlab.haskell.org/help/user/project/code_owners

# Catch-all
* @bgamari

# Build system
/hadrian/                         @snowleopard @alp @DavidEichmann @angerman
/configure.ac                    @angerman @hvr
/aclocal.m4                      @angerman @hvr
/config.sub                      @angerman @hvr

# RTS-like things
/rts/                             @bgamari @simonmar @osa1 @Phyx @angerman
/rts/linker/                      @angerman @Phyx @simonmar
/includes/                        @bgamari @simonmar @osa1

# The compiler
/compiler/parser/                 @int-index
/compiler/typecheck/              @simonpj @rae
/compiler/rename/                 @simonpj @rae
/compiler/types/                  @simonpj @rae
/compiler/deSugar/                @simonpj @rae
/compiler/typecheck/TcDeriv*      @RyanGlScott
/compiler/nativeGen/              @simonmar @bgamari @AndreasK
/compiler/llvmGen/                @angerman
/compiler/codeGen/                @simonmar @osa1
/compiler/cmm/                    @simonmar @osa1
/compiler/ghci/                   @simonmar
/compiler/simplCore/CallArity.hs  @nomeata
/compiler/utils/UnVarGraph.hs     @nomeata
/compiler/simplCore/Exitify.hs    @nomeata
/compiler/simplStg/StgCse.hs      @nomeata
/compiler/simplStg/StgLiftLams.hs @sgraf
/compiler/cmm/CmmSwitch.hs        @nomeata
/compiler/stranal/DmdAnal.hs      @simonpj @sgraf
/compiler/hsSyn/Convert.hs        @rae

# Core libraries
/libraries/base/                  @hvr
/libraries/ghci/                  @simonmar
/libraries/template-haskell/      @rae

# Internal utilities and libraries
/libraries/libiserv/              @angerman @simonmar
/utils/iserv-proxy/               @angerman @simonmar
/utils/iserv/                     @angerman @simonmar
/utils/gen-dll/                   @Phyx
/utils/fs/                        @Phyx

Hadrian: teach the RTS that PROFILING implies TRACING
  includes/rts/Config.h
Owners: @bgamari, @simonmar, @osa1

rts/linker: Use mmapForLinker to map PLT
  rts/linker/Elf.c
Owners: @angerman, @Phyx, @simonmar

rts/linker: Mmap into low memory on AArch64
  rts/Linker.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

rts/linker: Make elf_got.c a bit more legible
  rts/linker/elf_got.c
Owners: @angerman, @Phyx, @simonmar

llvm-targets: Add armv7l-unknown-linux-gnueabi
  llvm-targets
  utils/llvm-targets/gen-data-layout.sh
Owners: @bgamari

Refine the GHCI macro into HAVE[_{INTERNAL, EXTERNAL}]_INTERPRETER
  compiler/ghc.cabal.in
  compiler/ghci/GHCi.hs
  compiler/main/DynFlags.hs
  compiler/main/DynamicLoading.hs
  compiler/rename/RnExpr.hs
  compiler/simplCore/SimplCore.hs
  compiler/typecheck/TcAnnotations.hs
  compiler/typecheck/TcPluginM.hs
  compiler/utils/Util.hs
  ghc/Main.hs
  ghc/ghc-bin.cabal.in
  hadrian/src/Settings/Packages.hs
  libraries/ghci/GHCi/BreakArray.hs
  libraries/ghci/GHCi/InfoTable.hsc
  libraries/ghci/ghci.cabal.in
  testsuite/tests/codeGen/should_compile/jmp_tbl.hs
  utils/ghc-in-ghci/settings.ghci
Owners: @bgamari, @simonmar, @simonpj, @rae, @snowleopard, @alp, @DavidEichmann, @angerman

gitlab-ci: Test using slowtest in deb9-debug job
  .gitlab-ci.yml
Owners: @bgamari

rts/RtsFlags.c: mention that -prof too enables support for +RTS -l
  docs/users_guide/phases.rst
  rts/RtsFlags.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

testsuite: Mark T16737 as broken in ghci way due to #16541
  testsuite/tests/driver/all.T
Owners: @bgamari

testsuite: Mark Overflow as broken in hpc way
  testsuite/tests/warnings/should_compile/all.T
Owners: @bgamari

testsuite: Fix fragile_for test modifier
  testsuite/driver/testlib.py
Owners: @bgamari

testsuite: Mark T16180 as broken in ghci and ext-interp ways
  testsuite/tests/th/all.T
Owners: @bgamari

testsuite: Mark T2783 as fragile in threaded1
  testsuite/tests/rts/all.T
Owners: @bgamari

testsuite: Mark T16449_2 as broken due to #16742
  testsuite/tests/codeGen/should_run/all.T
Owners: @bgamari

testsuite: Mark T13910 as broken in optasm
  testsuite/tests/dependent/should_compile/all.T
Owners: @bgamari

testsuite: Mark T14761c as broken in hpc, profasm, and optasm ways
  testsuite/tests/typecheck/should_compile/all.T
Owners: @bgamari

testsuite: Mark T13167 as fragile in threaded2
  libraries/base/tests/all.T
Owners: @hvr

gitlab-ci: Fetch submodules before running submodule linter
  .gitlab-ci.yml
Owners: @bgamari

testsuite: Mark threadstatus-T9333 as fragile in ghci way
  testsuite/tests/concurrent/should_run/all.T
Owners: @bgamari

linters/check-makefiles: Limit lint to Makefiles
  .gitlab/linters/check-makefiles.py
  .gitlab/linters/linter.py
Owners: @bgamari

testsuite: Omit tcrun022 in hpc way
  testsuite/tests/typecheck/should_run/all.T
Owners: @bgamari

testsuite: Fix omit_ways usage
  testsuite/driver/testlib.py
  testsuite/tests/concurrent/should_run/all.T
  testsuite/tests/lib/integer/all.T
  testsuite/tests/programs/barton-mangler-bug/test.T
  testsuite/tests/rts/all.T
  testsuite/tests/typecheck/should_run/all.T
  testsuite/tests/utils/should_run/all.T
Owners: @bgamari

testsuite: Note intentional typo in T7130
  testsuite/tests/driver/all.T
Owners: @bgamari

Fix uses of #ifdef/#ifndef
  aclocal.m4
  hadrian/src/Rules/Generate.hs
  includes/ghc.mk
Owners: @angerman, @hvr, @snowleopard, @alp, @DavidEichmann, @bgamari, @simonmar, @osa1

testsuite: Skip T7919 in ghci way
  testsuite/tests/rts/all.T
Owners: @bgamari

testsuite: Omit profasm way for cc017
  testsuite/tests/ffi/should_compile/all.T
Owners: @bgamari

testsuite: Skip T493 in ghci way.
  testsuite/tests/ffi/should_run/all.T
Owners: @bgamari

gitlab-ci: Don't build PDF user's guide on AArch64
  .gitlab-ci.yml
Owners: @bgamari

testsuite: Don't run tests requiring TH in profasm way when GhcDynamic
  testsuite/driver/testlib.py
  testsuite/tests/driver/all.T
  testsuite/tests/parser/should_compile/all.T
  testsuite/tests/perf/compiler/all.T
  testsuite/tests/quotes/all.T
  testsuite/tests/roles/should_compile/all.T
Owners: @bgamari

Maintain separate flags for C++ compiler invocations
  aclocal.m4
  compiler/ghci/Linker.hs
  compiler/main/DynFlags.hs
  compiler/main/Settings.hs
  compiler/main/SysTools.hs
  compiler/main/SysTools/Info.hs
  compiler/main/SysTools/Tasks.hs
  compiler/main/ToolSettings.hs
  hadrian/cfg/system.config.in
  hadrian/src/Oracles/Setting.hs
  hadrian/src/Rules/Generate.hs
  includes/ghc.mk
  mk/config.mk.in
Owners: @angerman, @hvr, @simonmar, @bgamari, @snowleopard, @alp, @DavidEichmann, @osa1

Add a few missing llvm-targets
  llvm-targets
  utils/llvm-targets/gen-data-layout.sh
Owners: @bgamari

Clean up .circleci
  .circleci/config.yml
  .circleci/fetch-submodules.sh
  .circleci/push-test-metrics.sh
  .gitlab-ci.yml
  .gitlab/prepare-system.sh
Owners: @bgamari

Hadrian: remove superfluous dependencies in Rules.Compile
  hadrian/src/Rules/Compile.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

gitlab-ci: Bump Docker image
  .gitlab-ci.yml
Owners: @bgamari

users-guide: Fix a few markup issues
  docs/users_guide/ffi-chap.rst
  docs/users_guide/ghci.rst
Owners: @bgamari

Hadrian: Track RTS library symlink targets
  hadrian/src/Hadrian/Utilities.hs
  hadrian/src/Rules/Library.hs
  hadrian/src/Rules/Program.hs
  hadrian/src/Rules/Register.hs
  hadrian/src/Rules/Rts.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

Remove unused Unique field from StgFCallOp
  compiler/codeGen/StgCmmExpr.hs
  compiler/codeGen/StgCmmPrim.hs
  compiler/stgSyn/CoreToStg.hs
  compiler/stgSyn/StgSyn.hs
Owners: @simonmar, @osa1, @bgamari

PrelRules: Ensure that string unpack/append rule fires with source notes
  compiler/prelude/PrelRules.hs
Owners: @bgamari

testsuite: A more portable solution to #9399
  libraries/base/tests/all.T
  libraries/base/tests/enum01.hs
  libraries/base/tests/enum02.hs
  libraries/base/tests/enum03.hs
  libraries/base/tests/enum_processor.bat
  libraries/base/tests/enum_processor.py
Owners: @hvr

Fix #16525: ObjectCode freed wrongly because of lack of info header check
  rts/CheckUnload.c
  rts/Linker.c
  rts/linker/M32Alloc.c
  testsuite/tests/ghci/T16525a/A.hs
  testsuite/tests/ghci/T16525a/B.hs
  testsuite/tests/ghci/T16525a/T16525a.script
  testsuite/tests/ghci/T16525a/T16525a.stdout
  testsuite/tests/ghci/T16525a/all.T
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman
