Repository strake/ghc, changes with the owners that CODEOWNERS names for each.
All owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman, @hvr, @simonmar, @osa1, @Phyx, @int-index, @simonpj, @rae, @RyanGlScott, @AndreasK, @nomeata, @sgraf

CODEOWNERS:

# Confused about what this is? See
# https://gitlab.haskell.org/help/user/project/code_owners

# Catch-all
* @bgamari

# Build system
/hadrian/                         @snowleopard @alp @DavidEichmann @angerman
/configure.ac                    @angerman @hvr
/aclocal.m4                      @angerman @hvr
/config.sub                      @angerman @hvr

# RTS-like things
/rts/                             @bgamari @simonmar @osa1 @Phyx @angerman
/rts/linker/                      @angerman @Phyx @simonmar
/includes/                        @bgamari @simonmar @osa1

# The compiler
/compiler/parser/                 @int-index
/compiler/typecheck/              @simonpj @rae
/compiler/rename/                 @simonpj @rae
/compiler/types/                  @simonpj @rae
/compiler/deSugar/                @simonpj @rae
/compiler/typecheck/TcDeriv*      @RyanGlScott
/compiler/nativeGen/              @simonmar @bgamari @AndreasK
/compiler/llvmGen/                @angerman
/compiler/codeGen/                @simonmar @osa1
/compiler/cmm/                    @simonmar @osa1
/compiler/ghci/                   @simonmar
/compiler/simplCore/CallArity.hs  @nomeata
/compiler/utils/UnVarGraph.hs     @nomeata
/compiler/simplCore/Exitify.hs    @nomeata
/compiler/simplStg/StgCse.hs      @nomeata
/compiler/simplStg/StgLiftLams.hs @sgraf
/compiler/cmm/CmmSwitch.hs        @nomeata
/compiler/stranal/DmdAnal.hs      @simonpj @sgraf
/compiler/hsSyn/Convert.hs        @rae

# Core libraries
/libraries/base/                  @hvr
/libraries/ghci/                  @simonmar
/libraries/template-haskell/      @rae

# Internal utilities and libraries
/libraries/libiserv/              @angerman @simonmar
/utils/iserv-proxy/               @angerman @simonmar
/utils/iserv/                     @angerman @simonmar
/utils/gen-dll/                   @Phyx
/utils/fs/                        @Phyx

testsuite: Skip cgrun078 in ghci way
  testsuite/tests/codeGen/should_run/all.T
Owners: @bgamari

gitlab-ci: Disable validate-x86_64-linux-deb9 job to reduce load
  .gitlab-ci.yml
Owners: @bgamari

Hadrian: Do not allow the Linux jobs to fail anymore
  .gitlab-ci.yml
Owners: @bgamari

gitlab-ci: Disable deb9-llvm job, introduce nightly LLVM job
  .gitlab-ci.yml
Owners: @bgamari

testsuite: Unbreak galois_raytrace on i386
  testsuite/tests/programs/galois_raytrace/test.T
Owners: @bgamari

Add Outputable instances for Float, Double.
  compiler/utils/Outputable.hs
Owners: @bgamari

Disable optimisation when building Cabal in development flavours
  hadrian/cabal.project
  hadrian/src/Settings/Flavours/Development.hs
  mk/flavours/devel1.mk
  mk/flavours/devel2.mk
  mk/flavours/validate.mk
Owners: @snowleopard, @alp, @DavidEichmann, @angerman, @bgamari

Remove duplicates from 'ghc --info' output
  compiler/main/DynFlags.hs
Owners: @bgamari

base/Event/Poll: Drop POLLRDHUP enum item
  libraries/base/GHC/Event/Poll.hsc
Owners: @hvr

Synchronize ClsInst.doTyConApp with TcTypeable validity checks (#15862)
  compiler/ghc.cabal.in
  compiler/typecheck/ClsInst.hs
  compiler/typecheck/TcTypeable.hs
  compiler/typecheck/TcTypeableValidity.hs
  testsuite/tests/typecheck/should_fail/T15862.hs
  testsuite/tests/typecheck/should_fail/T15862.stderr
  testsuite/tests/typecheck/should_fail/all.T
Owners: @bgamari, @simonpj, @rae

testsuite: Fix T8602 on musl
  testsuite/tests/driver/T8602/T8602.script
Owners: @bgamari

PrelRules: Don't break let/app invariant in shiftRule
  compiler/coreSyn/CoreSyn.hs
  compiler/prelude/PrelRules.hs
  compiler/prelude/PrimOp.hs
  testsuite/tests/codeGen/should_run/T16449_2.hs
  testsuite/tests/codeGen/should_run/T16449_2.stderr
  testsuite/tests/codeGen/should_run/T16449_2.stdout
  testsuite/tests/codeGen/should_run/all.T
Owners: @bgamari

Disable optimisation when building Cabal lib for stage0
  hadrian/cabal.project
  utils/ghc-cabal/ghc.mk
Owners: @snowleopard, @alp, @DavidEichmann, @angerman, @bgamari

testsuite: Add assertions that way lists are in fact lists
  libraries/base/tests/Numeric/all.T
  libraries/base/tests/all.T
  testsuite/driver/testlib.py
  testsuite/tests/codeGen/should_compile/all.T
  testsuite/tests/concurrent/should_run/all.T
  testsuite/tests/dependent/should_compile/all.T
  testsuite/tests/numeric/should_run/all.T
  testsuite/tests/primops/should_run/all.T
  testsuite/tests/quasiquotation/all.T
  testsuite/tests/roles/should_compile/all.T
  testsuite/tests/rts/all.T
  testsuite/tests/simplCore/should_run/all.T
Owners: @hvr, @bgamari

testsuite: Skip hDuplicateTo001 in concurrent ways
  libraries/base/tests/IO/all.T
Owners: @hvr

Fix typo in error message
  compiler/deSugar/Check.hs
Owners: @simonpj, @rae

lint: Only apply --interactive lint to testsuite .T files
  .gitlab/linters/check-makefiles.py
  .gitlab/linters/linter.py
Owners: @bgamari

gitlab-ci: Lint testsuite for framework failures
  .gitlab-ci.yml
  testsuite/driver/runtests.py
  testsuite/mk/test.mk
Owners: @bgamari

Remove dead code
  compiler/rename/RnSplice.hs
  compiler/simplCore/CoreMonad.hs
  compiler/typecheck/TcEvidence.hs
  compiler/typecheck/TcRnMonad.hs
  compiler/utils/MonadUtils.hs
Owners: @simonpj, @rae, @bgamari

testsuite: Introduce concurrent_ways set
  testsuite/config/ghc
  testsuite/tests/concurrent/should_run/all.T
Owners: @bgamari

gitlab-ci: Lint the linters
  .gitlab-ci.yml
  .gitlab/linters/linter.py
Owners: @bgamari

testsuite: Really fix #16741
  testsuite/tests/simplCore/should_compile/Makefile
  testsuite/tests/simplCore/should_compile/T4918.stdout
Owners: @bgamari

Fix a Note name in CmmNode
  compiler/cmm/CmmNode.hs
Owners: @simonmar, @osa1

Properly trim IdInfos of DFunIds and PatSyns in TidyPgm
  compiler/basicTypes/PatSyn.hs
  compiler/coreSyn/CoreTidy.hs
  compiler/main/TidyPgm.hs
  compiler/typecheck/TcRnDriver.hs
  compiler/types/InstEnv.hs
  testsuite/tests/driver/T16608/Makefile
  testsuite/tests/driver/T16608/MyInteger.hs
  testsuite/tests/driver/T16608/T16608_1.hs
  testsuite/tests/driver/T16608/T16608_1.stdout
  testsuite/tests/driver/T16608/T16608_2.hs
  testsuite/tests/driver/T16608/T16608_2.stdout
  testsuite/tests/driver/T16608/all.T
Owners: @bgamari, @simonpj, @rae

testsuite: Add test for #16832
  testsuite/tests/typecheck/should_compile/T16832.hs
  testsuite/tests/typecheck/should_compile/T16832.script
  testsuite/tests/typecheck/should_compile/all.T
Owners: @bgamari

gitlab-ci: Run nofib on binary distributions
  .gitlab-ci.yml
Owners: @bgamari

Add more newtype-derived instances to Data.Ord.Down
  libraries/base/Data/Ord.hs
  libraries/base/changelog.md
Owners: @hvr

make: Clean includes/settings file
  ghc.mk
Owners: @bgamari

testsuite: Flush conc059's printf buffer
  testsuite/tests/concurrent/should_run/conc059.stdout
  testsuite/tests/concurrent/should_run/conc059_c.c
Owners: @bgamari

Data.Ord: give a field name getDown to Down
  libraries/base/Control/Monad/Fix.hs
  libraries/base/Data/Ord.hs
  libraries/base/changelog.md
Owners: @hvr

gitlab-ci: Run alpine builds during nightly job
  .gitlab-ci.yml
Owners: @bgamari

fix runghc's GHC detection logic to cover the "in-tree Hadrian build" scenario
  utils/runghc/Main.hs
Owners: @bgamari

gitlab-ci: Build alpine release bindists
  .gitlab-ci.yml
Owners: @bgamari

Add link to mfix.github.io/ghc in HACKING.md
  HACKING.md
Owners: @bgamari

gitlab-ci: Don't allow failure of deb9-dwarf job
  .gitlab-ci.yml
Owners: @bgamari

Make sure mkSplitUniqSupply stores the precomputed mask only.
  compiler/basicTypes/UniqSupply.hs
  testsuite/tests/perf/should_run/UniqLoop.hs
  testsuite/tests/perf/should_run/all.T
Owners: @bgamari

Use TupleSections in CmmParse.y, simplify a few exprs
  compiler/cmm/CmmParse.y
Owners: @simonmar, @osa1

hadrian: Compile UserSettings with -O0
  hadrian/src/UserSettings.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

testsuite: Ensure that ffi005 output order is predictable
  testsuite/tests/ffi/should_run/all.T
  testsuite/tests/ffi/should_run/ffi005.hs
  testsuite/tests/ffi/should_run/ffi005.stdout
  testsuite/tests/ffi/should_run/ffi005_c.c
Owners: @bgamari

testsuite: Ensure T5423 flushes C output buffer
  testsuite/tests/rts/Makefile
  testsuite/tests/rts/T5423.hs
  testsuite/tests/rts/T5423.stdout
  testsuite/tests/rts/T5423_c.c
Owners: @bgamari
