Repository strake/ghc, changes with the owners that CODEOWNERS names for each.
All owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman, @hvr, @simonmar, @osa1, @Phyx, @int-index, @simonpj, @rae, @RyanGlScott, @AndreasK, @nomeata, @sgraf

Reject nested foralls in foreign imports (#16702)
  compiler/typecheck/TcForeign.hs
  docs/users_guide/ffi-chap.rst
  testsuite/tests/ffi/should_fail/T16702.hs
  testsuite/tests/ffi/should_fail/T16702.stderr
  testsuite/tests/ffi/should_fail/all.T
Owners: @simonpj, @rae, @bgamari

Implement (Functor.<$) for Array
  libraries/base/GHC/Arr.hs
Owners: @hvr

Fix rewriting invalid shifts to errors
  compiler/prelude/PrelRules.hs
  testsuite/tests/codeGen/should_compile/T16449_1.hs
  testsuite/tests/codeGen/should_compile/all.T
  testsuite/tests/codeGen/should_run/T16449_2.hs
  testsuite/tests/codeGen/should_run/T16449_2.stderr
  testsuite/tests/codeGen/should_run/all.T
Owners: @bgamari

Fix space leaks in dynLoadObjs (#16708)
  compiler/ghci/Linker.hs
Owners: @simonmar

Add `-haddock` to prepare-system.sh and .gitlab-ci.yml
  .circleci/prepare-system.sh
  .gitlab-ci.yml
  mk/flavours/perf.mk
Owners: @bgamari

Add `-haddock` option under ci condition to fix #16415
  .circleci/prepare-system.sh
Owners: @bgamari

rts: Remove unused decls from CNF.h
  rts/sm/CNF.h
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

Add `-haddock` to perf.mk rather than prepare-system.sh
  .circleci/prepare-system.sh
  mk/flavours/perf.mk
Owners: @bgamari

Improve ThreadId Show instance
  libraries/base/GHC/Conc/Sync.hs
Owners: @hvr

Implement (Functor.<$) for Data.Functor.{Compose,Product,Sum}
  libraries/base/Data/Functor/Compose.hs
  libraries/base/Data/Functor/Product.hs
  libraries/base/Data/Functor/Sum.hs
Owners: @hvr

gitlab-ci: Use GHC 8.6.5 for Windows CI builds
  .gitlab-ci.yml
Owners: @bgamari

Remove unused RTS function 'unmark'
  rts/sm/Compact.h
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

Fix arity type of coerced types in CoreArity
  compiler/coreSyn/CoreArity.hs
  testsuite/tests/simplCore/should_run/T16066.hs
  testsuite/tests/simplCore/should_run/T16066.stderr
  testsuite/tests/simplCore/should_run/all.T
Owners: @bgamari

support small arrays and CONSTR_NOCAF in ghc-heap
  libraries/ghc-heap/GHC/Exts/Heap.hs
  libraries/ghc-heap/GHC/Exts/Heap/Closures.hs
  rts/Heap.c
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

Use types already in AST when making .hie file
  compiler/hieFile/HieAst.hs
Owners: @bgamari

Expose doCpp
  compiler/main/DriverPipeline.hs
Owners: @bgamari

TestRunner: Added --chart to display a chart of performance tests
  testsuite/driver/js/Chart-2.8.0.min.js
  testsuite/driver/js/tooltip.js
  testsuite/driver/perf_notes.py
  testsuite/driver/testlib.py
  testsuite/driver/testutil.py
Owners: @bgamari

Fix and enforce validation of header for .hie files
  compiler/hieFile/HieAst.hs
  compiler/hieFile/HieBin.hs
  compiler/hieFile/HieDebug.hs
  compiler/hieFile/HieTypes.hs
  compiler/main/HscMain.hs
Owners: @bgamari

Put COMPLETE sigs into ModDetails with -fno-code (#16682)
  compiler/main/TidyPgm.hs
  testsuite/tests/patsyn/should_compile/T16682.hs
  testsuite/tests/patsyn/should_compile/T16682a.hs
  testsuite/tests/patsyn/should_compile/all.T
Owners: @bgamari

Factor out 'getLibDir' / 'getBaseDir' into a new GHC.BaseDir ghc-boot module
  compiler/main/SysTools/BaseDir.hs
  libraries/ghc-boot/GHC/BaseDir.hs
  libraries/ghc-boot/ghc-boot.cabal.in
  utils/ghc-pkg/Main.hs
Owners: @bgamari

Hadrian: profiling and debug enabled ways support -eventlog too
  hadrian/src/Settings/Builders/Ghc.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

Add HEAP_PROF_SAMPLE_END event to mark end of samples
  docs/users_guide/eventlog-formats.rst
  includes/rts/EventLogFormat.h
  rts/ProfHeap.c
  rts/Trace.c
  rts/Trace.h
  rts/eventlog/EventLog.c
  rts/eventlog/EventLog.h
Owners: @bgamari, @simonmar, @osa1, @Phyx, @angerman

Fix #16700: Tiny errors in output of GHCi commands :forward and :info
  compiler/prelude/PrelInfo.hs
  ghc/GHCi/UI.hs
  testsuite/tests/ghci.debugger/scripts/T16700.hs
  testsuite/tests/ghci.debugger/scripts/T16700.script
  testsuite/tests/ghci.debugger/scripts/T16700.stdout
  testsuite/tests/ghci.debugger/scripts/all.T
  testsuite/tests/ghci/scripts/ghci059.stdout
Owners: @bgamari

gitlab-ci: Run bindisttest during CI
  .gitlab-ci.yml
Owners: @bgamari

Hadrian: fix OSX build failure and add an OSX/Hadrian CI job
  .gitlab-ci.yml
  hadrian/src/Rules/Libffi.hs
Owners: @bgamari, @snowleopard, @alp, @DavidEichmann, @angerman

Add GHCi :instances command
  compiler/main/GHC.hs
  compiler/main/HscMain.hs
  compiler/main/InteractiveEval.hs
  compiler/typecheck/TcRnDriver.hs
  compiler/types/InstEnv.hs
  docs/users_guide/8.10.1-notes.rst
  docs/users_guide/ghci.rst
  ghc/GHCi/UI.hs
  testsuite/tests/ghci/scripts/all.T
  testsuite/tests/ghci/scripts/ghci064.hs
  testsuite/tests/ghci/scripts/ghci064.script
  testsuite/tests/ghci/scripts/ghci064.stdout
Owners: @bgamari, @simonpj, @rae

TmOracle: Replace negative term equalities by refutable PmAltCons
  compiler/basicTypes/NameEnv.hs
  compiler/deSugar/Check.hs
  compiler/deSugar/DsMonad.hs
  compiler/deSugar/PmExpr.hs
  compiler/deSugar/PmPpr.hs
  compiler/deSugar/TmOracle.hs
  compiler/ghc.cabal.in
  compiler/typecheck/TcEvidence.hs
  compiler/typecheck/TcRnTypes.hs
  compiler/utils/ListSetOps.hs
  testsuite/tests/pmcheck/should_compile/CyclicSubst.hs
  testsuite/tests/pmcheck/should_compile/PmExprVars.hs
  testsuite/tests/pmcheck/should_compile/T12949.hs
  testsuite/tests/pmcheck/should_compile/all.T
  testsuite/tests/typecheck/should_compile/T5490.stderr
Owners: @bgamari, @simonpj, @rae

make: Fix bindist installation
  ghc.mk
  ghc/ghc.mk
Owners: @bgamari

Used terminology from a paper. Added it as a reference.
  libraries/base/Data/Traversable.hs
Owners: @hvr

gitlab-ci: Disable darwin hadrian job
  .gitlab-ci.yml
Owners: @bgamari

Preserve ShadowInfo when rewriting evidence
  compiler/typecheck/TcCanonical.hs
  compiler/typecheck/TcSMonad.hs
  testsuite/tests/polykinds/T14172.stderr
Owners: @simonpj, @rae, @bgamari

Fix isValidNatural: The BigNat in NatJ# must have at least 2 limbs
  libraries/base/GHC/Natural.hs
  libraries/base/changelog.md
  libraries/base/tests/all.T
  libraries/base/tests/isValidNatural.hs
  libraries/base/tests/isValidNatural.stdout
  libraries/integer-gmp/src/GHC/Integer/Type.hs
Owners: @hvr, @bgamari

Update Traversable.hs with a note about an intuitive law
  libraries/base/Data/Traversable.hs
Owners: @hvr

Hadrian: Delete target symlink in createFileLinkUntracked
  hadrian/src/Hadrian/Utilities.hs
Owners: @snowleopard, @alp, @DavidEichmann, @angerman

llvm-targets: Add x86_64 android layout
  llvm-targets
  utils/llvm-targets/gen-data-layout.sh
Owners: @bgamari

gitlab-ci: Ensure that all commits on a branch are submodule-linted
  .gitlab-ci.yml
Owners: @bgamari

Hadrian: use deb9 Docker images instead of deb8 for CI jobs
  .gitlab-ci.yml
Owners: @bgamari

Fix two lint failures in rts/linker/MachO.c
  rts/linker/MachO.c
Owners: @angerman, @Phyx, @simonmar

gitlab-ci: Disable shallow clones
  .gitlab-ci.yml
Owners: @bgamari

testsuite: Suppress ticks in T4918 output
  testsuite/tests/simplCore/should_compile/Makefile
Owners: @bgamari

CODEOWNERS:

# Confused about what this is? See
# https://gitlab.haskell.org/help/user/project/code_owners

# Catch-all
* @bgamari

# Build system
/hadrian/                         @snowleopard @alp @DavidEichmann @angerman
/configure.ac                    @angerman @hvr
/aclocal.m4                      @angerman @hvr
/config.sub                      @angerman @hvr

# RTS-like things
/rts/                             @bgamari @simonmar @osa1 @Phyx @angerman
/rts/linker/                      @angerman @Phyx @simonmar
/includes/                        @bgamari @simonmar @osa1

# The compiler
/compiler/parser/                 @int-index
/compiler/typecheck/              @simonpj @rae
/compiler/rename/                 @simonpj @rae
/compiler/types/                  @simonpj @rae
/compiler/deSugar/                @simonpj @rae
/compiler/typecheck/TcDeriv*      @RyanGlScott
/compiler/nativeGen/              @simonmar @bgamari @AndreasK
/compiler/llvmGen/                @angerman
/compiler/codeGen/                @simonmar @osa1
/compiler/cmm/                    @simonmar @osa1
/compiler/ghci/                   @simonmar
/compiler/simplCore/CallArity.hs  @nomeata
/compiler/utils/UnVarGraph.hs     @nomeata
/compiler/simplCore/Exitify.hs    @nomeata
/compiler/simplStg/StgCse.hs      @nomeata
/compiler/simplStg/StgLiftLams.hs @sgraf
/compiler/cmm/CmmSwitch.hs        @nomeata
/compiler/stranal/DmdAnal.hs      @simonpj @sgraf
/compiler/hsSyn/Convert.hs        @rae

# Core libraries
/libraries/base/                  @hvr
/libraries/ghci/                  @simonmar
/libraries/template-haskell/      @rae

# Internal utilities and libraries
/libraries/libiserv/              @angerman @simonmar
/utils/iserv-proxy/               @angerman @simonmar
/utils/iserv/                     @angerman @simonmar
/utils/gen-dll/                   @Phyx
/utils/fs/                        @Phyx
